html {
    font-family: "Fira Sans", sans-serif;
    height: 100%;
    background-color: rgb(63, 92, 67);
  }  

body {
    padding: 2em 3em 0 3em;
    max-width: 900px;
    margin: auto;
    background-color: rgb(201, 229, 206);
}

header h1 {
    margin: 0 0 0.5em 0;
    font-size: 90px;
}

main {
    padding-bottom: 2em;
}

.links {
    font-size: 40px;
    margin-bottom: 1em;
}

.links a:link, .links a:visited {
    color: black;
    text-decoration: none;
}

.links a:hover{
    color: rgb(189, 60, 122);
}

.bio p {
    font-size: 20px;
}

.tourInfo {
    text-align: center;
    color: #8d70eb;
}

.dateContainer {
    margin: auto;
    width: fit-content;
}

.dateList {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    text-align: left;
}

.dateList a:visited, .dateList a:link {
    color:#8d70eb;
}

.dateTitle {
    margin-block-end: .5em;
}