html {
    font-family: "Fira Sans", sans-serif;
    height: 100%;
    background-color: rgb(63, 92, 67);
  }  

body {
    padding: 2em 3em 0 3em;
    max-width: 900px;
    margin: auto;
    background-color: rgb(201, 229, 206);
    height: 100%;
}

header h1 {
    margin: 0 0 0.5em 0;
    font-size: 90px;
}

.links {
    font-size: 50px;
    margin-bottom: 1em;
}

.links a:link, .links a:visited {
    color: black;
    text-decoration: none;
}

.links a:hover{
    color: rgb(189, 60, 122);
}

.bio p {
    font-size: 20px;
}